:root{
    --red:#900;
    --orange:#ec5d28;
    --green:#26be21;
    --light:#e8e8e8;
    --dark:#000;
    --background:#F7B26C;
    --container: #333;
}

*{
    margin:0;
    padding:0;
    color:var(--light);
}

body{
    background-color:var(--background);
}

h1,h2,h3,h4,h5{
    text-align: center; 
    vertical-align: middle;
    padding: 5px;
}

h5{    
    background-color: var(--dark);
   
}

.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


section{
    background-color:var(--container);
    height: 25vh;
    width: 80vh;
    margin:5px auto;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column; 
}

.containerTime{   
    flex:3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.containerTime:last-child{
    flex:1;
}

div.containerTime div{
    color:var(--orange);
}

section:last-child div {
    color:var(--green);
}

.date{
    flex:3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;    
}

.date div,.hour,.min{
    background-color: var(--dark);
    border: var(--light) solid 1px;
    margin: 0px 5px;
    padding: 0px 2px; 
    text-align: center;  
}

.containerTime .label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.month{
    flex:1;
}

.day{
    flex:1;
}

.year{
    flex:2;
    text-align: center;
}

.label{
    flex: 1;
}

.time{
    flex:2;
}





